
@font-face {
    font-family: 'Caslon';
    src: url('fonts/CaslonAntique-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background: rgb(26, 26, 26);
    color: white;
    font-family: 'Caslon', sans-serif;
}

.header {
    position: relative;
    display: flex;                 
    align-items: center;
    justify-content: space-between;
    border: solid 1px white;
    background: linear-gradient(35deg, black, rgb(16, 16, 16), rgb(20, 20, 20));
    padding: 0px 20px;
}

.titlehead {
    font-size: 50px;
    margin: 0;
}

.header-buttons {
    display: flex;
    gap: 10px;
    position: relative;
    z-index: 2;
}

footer{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
    
}

.header-btn {
    padding: 8px 16px;
    cursor: pointer;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 0.9;
    background: black;
    color: white;
    font-weight: bold;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.20);
    border-radius: 8px;
}
.main{
    background: rgb(0, 0, 0);
    border-style: inset;
    position: relative;
    top: 10px;
    height: 1000px;
}
.main::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(images/moth.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.05;            
}
.sections-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    padding: 40px;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 1;
}

.section-card {
    background: rgba(22, 22, 22, 0.35);
    border: 1px solid rgba(255,255,255,0.15);
    border-radius: 15px;
    padding: 40px;
    text-align: center;
    text-decoration: none;
    color: white;
    transition: all 0.10s ease;
}

.section-card h2 {
    margin-bottom: 10px;
    font-size: 24px;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
}

.section-card p {
    font-size: 14px;
    opacity: 0.8;
}

.section-card:hover {
    box-shadow: 0 0 25px rgba(255,255,255,0.15);
    border-color: rgb(197, 197, 197);
}
#randomquote{
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 1px 0px rgb(95, 95, 95);
    font-style: italic;
    font-size: large;
    line-height: 1.3;
    text-align: center;
    margin: 0 auto;
    word-wrap: break-word;
}
#quote-wrapper {
  max-width: 800px;
  max-height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;        
}
.log{
    position: relative;
    display: flex;                 
    justify-content: center;
}
.poro{
    width: 35px;
    height: 25px;
  vertical-align: middle;
  transform: rotateY(160deg);
}
.sotw {
    background: rgb(17, 17, 17);
    border-radius: 10px;
    padding: 24px;
    width: 400px;
    height: 200px;
}

.sotw-wrapper {
    display: flex;
    justify-content: center;
    padding: 150px;
}
#top{
    background-image: url(images/top.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110px;
    background-blend-mode: color;
}
#mid{
    background-image: url(images/mid.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110px;
    background-blend-mode: color;
}
#sup{
    background-image: url(images/sup.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110px;
    background-blend-mode: color;
}
.text{
    position: relative;
    display: flex;                 
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.desc{
    position: relative;
    display: flex;                 
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 20px;
    padding-left: 45px;
    max-width: 500px;
    margin: 0 auto;
}
    .item-grid {
      display: flex;
      gap: 8px;
      flex-wrap: wrap;
      position: relative;
      display: flex;                 
      justify-content: center;
    }
 
    .item-slot {
      width: 64px;
      height: 64px;
      border: 2px solid #888;
      border-radius: 6px;
      background: #1a1a1a;
      overflow: hidden;
    }
 
    .item-slot img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
    .runes{
    position: relative;
    display: flex;                 
    justify-content: center;
    top: 20px;
    margin: 0 auto;
    border: 5px outset rgb(70, 70, 70);
    width: 20%;
    }
.spells {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

.spells img {
    border: 2px solid rgb(70, 70, 70);
}
.render{
    position: absolute;
    bottom: 100px;
  right: 0;
  width: 600px;
  z-index: 1;
}
.skill{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}